.low,
.moderate,
.critical {
  font-size: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #4daa57;
  color: #FFFFFF;
  font-weight: 400;
}

.moderate {
  background-color: #e70e02;
}

.critical {
  background-color: #445E93;
}